:host {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.log-in-box {
    width: 400px;
    height: 500px;

    border: 1px solid black;
    box-shadow: 1px 0 10px black,
        0 1px 10px black;

    padding: .5rem 0 .5rem 0;


    &__header {
        width: 100%;
        text-align: center;
        text-transform: uppercase;

        margin-bottom: 1rem;
    }
}

@import url('../form-style/form.style.scss');