:host {
    width: 400px;
    height: 500px;

    border: 1px solid black;
    box-shadow: 1px 0 10px black,
        0 1px 10px black;

    padding: .5rem 0 .5rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

@import url('../../../../styles/_forms.scss');