
<app-loader-overlay [showLoader]="showSpinner">
    <form class="form" [formGroup]="logForm"
        (submit)="onSubmit()">

        <label class="form__header">Вход в программу</label>

        <div class="form__wrapper">
            <div class="form__group">
                <label class="form__label">Имя пользователя: </label>
                <input type="text" class="form__field"
                    formControlName="username" />
            </div>
            <div class="form__group">
                <label class="form__label">Пароль: </label>
                <input type="password" class="form__field"
                    formControlName="password" />
            </div>
        </div>

        <div class="form__error-box">

            <div class="form__error-message"
                *ngIf="logForm.controls['username'].errors?.['unknownUser']">

                Неизвестное имя пользователя
            </div>
            <div class="form__error-message"
                *ngIf="logForm.controls['password'].errors?.['wrongPassword']">

                Пароль введен неверно
            </div>
        </div>
        
        <div class="form__buttons-group">
            <app-button [buttonType]="'submit'">Ок</app-button>
            <app-button [onClickHandler]="onClick.bind(this)">Отмена</app-button>
        </div>
    </form>
</app-loader-overlay>
