.form {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr 3fr 2fr 1fr;
    grid-template-columns: 1fr;

    &__header {
        text-align: center;
        width: 100%;
        font: {
            size: 1.2rem;
            weight: 800;
        }

        grid-row: 1;
        text-transform: uppercase;
    }
}

.form-fields-box {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-row: 2;
}

.form-buttons-group {
    justify-self: end;

    width: 100%;
    height: 30px;

    display: flex;
    justify-content: space-around;

    grid-row: 4;

}

.form-message-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__message {
        width: 100%;
        height: 25px;

        display: flex;
        align-items: center;

        padding-left: .5rem;

        color: rgb(239, 239, 239);

        background-color: rgb(78, 78, 78);
        box-shadow: 0 1px 5px rgb(145, 255, 66);

        &_error {
            box-shadow: 0 1px 5px rgb(255, 114, 114);
        }
    }
}

.form-fields-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
    height: 30px;
    padding-left: 5px;

    &__field {
        width: 200px;
        height: 100%;

        border: 0;
        border-left: 1px solid black;
        background-color: rgb(78, 78, 78);
        color: white;
        
        padding: 0 2px 0 2px;
    }
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}  
